.navigation__logo {
  display: block;
  font-size: 30px;
  font-family: $link-font;
  color: $link-color;
  font-weight: bold;
  line-height: 1.2;

  &:hover {
    transform: scale(1.1);
    transition: all 200ms linear;
    color: $hover-color;
  }
}
