.section__description {
  margin: 0;
  padding: 0 130px;
  font-size: 15px;
  font-family: $description-font;
  color: $description-color;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 90px;
}
