.team__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.team__list-img {
  width: 380px;
  height: 470px;
  margin-bottom: 25px;
}

.team__list-box {
  min-width: 380px;
  height: 470px;
  position: relative;
}
