$link-color:  #858686;
$link-font: 'Montserrat', sans-serif;
$description-font: 'Roboto';
$section-title-font: 'Kaushan Script';
$hover-color: #fce38a;
$title-description-color:  #333333;
$after-color: #f38181;
$description-color: #999999;