body {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
h3, h3, p{
  margin: 0; 
  padding: 0;
}
.container{
  margin: 0 auto;
  max-width: 1201px;
  text-align: center;
}
.navigation {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: block;
  font-size: 30px;
  font-family: "Montserrat";
  color: #95e1d3;
  font-weight: bold;
  line-height: 1.2;
}
.logo:hover{
  color: #f38181;
  transform: scale(1.1);
  transition: all 200ms linear;
}
.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 500px;
  justify-content: space-between;
}
.navigation-list--item {
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
  line-height: 1.2;
}
.navigation-list-link {
  display: block;
  color: #95e1d3;
  position: relative;
}
.navigation-list-link::after {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #f38181;
  bottom: -12px;
  left: 0;

 }

.navigation-list-link:hover {
  color: #f38181;
  transition: all 200ms linear;
  transform: scale(1.1);
}
.navigation-list-link:hover::after {
  display: block;
  transition: all 200ms linear;
  transform: scale(1.1);
}
.services {
  padding: 30px;
}
.title{
  display: block;
}
.title-name {
  margin: 0 auto;
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;

}
.title-description {
  display: block;
  padding: 0;
  margin: 0 auto;
  font-size: 24px;
  font-family: "Kaushan Script";
  font-weight: 400;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 25px;
}


.title-name:after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 40px;
  background-color: rgb(243, 129, 129);
  width: 60px;
  height: 3px;
}
.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
}
.service-list-item {
  width: 300px;
  margin-bottom: 100px;
  position: relative;
  padding-left: 60px;
}
.service-title {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.service-title-item-description {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
}
.service-list-item:before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 20px;
}
.web-design::before {
  background-image: url(../icons/COMPUTER.png);
}
.photography::before {
  background-image: url(../icons/IMAGE.png);
}
.creativity::before {
  background-image: url(../icons/LINE.png);
}
.seo::before {
  background-image: url(../icons/ALARM.png);
}
.css-html::before {
  background-image: url(../icons/HOME.png);
}
.digital::before {
  background-image: url(../icons/book.png);
}
.team-description {
  margin: 0;
  padding: 0 130px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
  margin-bottom: 90px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.card{
  margin-bottom: 25px;
}
.team-list-box {
  position: relative;
}

.caption-member-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.caption-member-position {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}

.overlay {
  display: none;
  position: absolute;
  width: 380px;
  height: 470px;
  left: 0;
  top: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(242, 227, 145, 0.5) 0%,
    rgba(234, 138, 137, 0.5) 100%
  );
  transition: all 200ms linear
}
.overlay-social-list {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms linear
}
.social-item {
  display: block;
  content: "";
  width: 56px;
  height: 56px;
  color: #f38181;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.overlay-item {
  margin: 1px;
}

.facebook {
  background-image: url(../icons/facebook.png);
}
.twitter {
  background-image: url(../icons/twitter.png);
}
.pinterest {
  background-image: url(../icons/pinterest.png);
}
.instagram {
  background-image: url(../icons/instagram.png);
}

.team-list-box:hover .overlay {
  display: -webkit-flex;
    transition: all 200ms linear;
}
.team-list-box:hover .card, .overlay {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0px 0px #95e1d3;
  transition: all 200ms linear;

}
.social-item:hover {
  background-color: #95e1d3;
  transition: all 200ms linear;
}
.team {
  margin-bottom: 80px;
  position: relative;
}
.team:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -80px;
  background-color: rgb(119, 119, 119);
  width: 1200px;
  height: 1px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 25px;
}
.designer-info {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  line-height: 1.2;
}
.subscribe-form {
  display: flex;
  justify-content: flex-end;
}
.designer-info a {
  color: #f38181;
}
.email-form {
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
  background-color: rgb(255, 255, 255);
  width: 234px;
  height: 40px;
  font-family: "Montserrat";
  font-style: italic;
}

.email-button {
  margin: 0;
  padding: 0;
  background-color: rgb(149, 225, 211);
  width: 150px;
  height: 40px;
  border: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
}
.email-button:hover{
  color: gray;
  background-color: rgb(117, 255, 243);
  transition: all 500ms linear;
  transform: scale(1.05);
}
